.container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.enterActive {
    animation-name: blurIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.exitActive {
    animation-name: blurIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: reverse;
}

.blurMask {
    filter: blur(5px);
}

@keyframes blurIn {
    from {
        filter: none;
    }
    to {
        filter: blur(5px);
    }
}
