.fadeEnter {
    opacity: 0.01;
    filter: blur(5px);
}

.fadeEnterActive {
    filter: none;
    opacity: 1;
    transition: opacity 1000ms ease-in 1000ms, filter 500ms linear 1.5s;
}

.fadeExit {
    opacity: 1;
}

.fadeExitActive {
    opacity: 0.01;
    transition: opacity 1000ms ease-out;
}
