.mapOverlay, .link {
    position: absolute;
    height: 100%;
    width: 100%;
}

.mapOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 50px;
}
